{% extends "template.html" %}

{% block head %}
    {{ super() }}
    {% import "helpers/src_macros.html" as macro %}
    {{ macro.filehelper(select=True) }}
{% endblock %}

{% block content %}
<section class="bg-white py-5 mb-10">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">
                <a href="{{url_for('main.users')}}"><i class="feather-lg text-success mr-2" data-feather="arrow-left"></i></a>Edit User Roles
                <div class="badge badge-primary-soft badge-pill badge-marketing badge-sm text-primary ml-2">{{user.email}}</div>
            </h4>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{{url_for('main.edit_user_roles',id=user.id)}}">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="roles">Add Roles to User</label>
                                    <select name="roles[]" data-placeholder="Search for Roles..." class="chosen-select form-control" multiple>
                                        {% for role in roles %}
                                        {% if user.has_role(role.name) %}
                                        <option value="{{role.name|capitalize}}" selected>{{role.name|capitalize}}</option>
                                        {% else %}
                                        <option value="{{role.name|capitalize}}">{{role.name|capitalize}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
  <script>
    $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    })
  </script>
{% endblock %}
