{% extends "template.html" %}
{% from "helpers/html_snippets.html" import pagination %}
{% from "helpers/repo_scans.html" import repo_scans %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True,apex=True) }}
{% endblock %}

{% block content %}
{{repo_scans(scan,"license",buttons=[])}}
<section class="bg-white py-4 mb-10">
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body p-3">
                <div class="h4" id="chartdonut1"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body p-3">
                <div class="h4" id="chartdonut2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-body">
                <div class="text-dark h4 text-left"><i class="feather-lg text-primary mr-2" data-feather="clipboard"></i>License Information</div>
                <div class="table-responsive">
                  <table id="table1" class="table table-striped" style="width:100%">
                    <thead><tr></tr></thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
  <script>
    var url = "{{url_for('api.get_apex_chart')}}?type=donut&as_chartjs=true&groupby=name,count&model=file_license&filter=scan_id,eq,{{scan.id}}&title=License Name"
    apex_render("chartdonut1",url)
    var url = "{{url_for('api.get_apex_chart')}}?type=donut&as_chartjs=true&groupby=category,count&model=file_license&title=Category Type&filter=scan_id,eq,{{scan.id}}"
    apex_render("chartdonut2",url)
  </script>

  <script>
    dt_init(
      selector="#table1", // table id selector
      url="{{url_for('api.search_api',model='file_license')}}?as_datatables=true&limit=10000&exc_fields=matched_rule&filter=scan_id,eq,{{scan.id}}",
      dt_ajax=0, // 1=render columns manually (requires render_cols="col1,col2,col3", 0=render columns dynamically
      render_cols=0, // columns rendered (only used when dt_ajax=1)
      edit=0, // add a column with a edit icon
    );
  </script>
{% endblock %}
